<template>
    <div :id="id" class="responsive-container">
        <ul class="tab-buttons" v-if="! isMobile" :class="tabButtonListClass">
            <li v-for="label in tabLabels" :style="tabButtonStyle">
                <button class="tab-button" @click="setActiveTab(label)" :class="buttonClasses(label)">
                    {{ label }}
                </button>
            </li>
        </ul>
        <slot></slot>
    </div>
</template>

<script>
import ResponsiveMixins from '../mixins/ResponsiveMixins.js';
import TabPanel from './TabPanel.vue';

export default {
    name: 'responsive-container',
    components: {
        TabPanel,
    },
    mixins: [
        ResponsiveMixins,
    ],
    props: {
        id: {
            type   : String,
            default: 'responsive-container',
        },
        rows: {
            type: String,
            default: 1,
        },
    },
    data () {
        return {
            tabLabels: [],
            activeTab: null,
        };
    },
    computed: {
        buttonsPerRow() {

            return Math.ceil(this.tabLabels.length / parseInt(this.rows));
        },
        tabButtonStyle() {
            return {
            }
        },
        tabButtonListClass() {
            let css = {
                'flex-wrap': this.rows > 1,
            };
            css['row-of-' + this.buttonsPerRow] = true;
            return css;
        },
    },
    methods: {
        setActiveTab(label) {
            this.activeTab = label;
        },
        isActiveTab(label) {
            return label === this.activeTab;
        },
        buttonClasses(label) {
            return {
                active: this.isActiveTab(label),
            };
        },
    },
    mounted() {
        this.tabLabels = this.$children.filter( child => child.$options.name === 'tab-panel' ).map( child => child.label );
        this.setActiveTab(this.tabLabels[0]);
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .responsive-container {
        .flex-wrap {
            flex-wrap: wrap;
        }
        .tab-buttons {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .tab-button {
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            margin: 0;
            color  : #ffffff;
            text-align: center;
            border-radius: 3px;
            border: 2px solid #666666;
            background-color: #666666;
            &.active {
                background-color: white;
                color: #666666;
            }
        }
    }
</style>
<style lang="scss" scoped>
    @mixin row-of($n) {
        &.row-of-#{$n} {
            li {
                flex: 0 0 (100 / $n) * 1%;
                &:nth-child(#{$n}),
                &:nth-child(#{$n}n) {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .tab-buttons {
        display: flex;
        justify-content: flex-start;
        li {
            margin: 0;
            box-sizing: border-box;
            flex: 10 0 auto;
            padding-right: 0.25rem;
            padding-bottom: 0.25rem;
        }
        @for $n from 1 through 8 {
            @include row-of($n);
        }
    }
    .tab-button {
        width: 100%;
        display: block;
    }
</style>
