<template>
    <div :id="id" class="responsive-panel">
        <div class="tab-label" v-if="isMobile">
            <button class="tab-button" @click="setActiveTab" :class="buttonClasses">
                {{ label }}
            </button>
        </div>
        <div style="overflow: hidden">
            <transition
                name="custom-classes-transition"
                enter-active-class="animated fadeIn"
            >
                <div class="content" v-if="isActiveTab" :style="panelStyle">
                    <slot></slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import ResponsiveMixins from '../mixins/ResponsiveMixins.js';
export default {
    name: 'tab-panel',
    mixins: [
        ResponsiveMixins,
    ],
    props: {
        label: {
            type   : String,
            default: 'Tab Label',
        },
    },
    data () {
        return {
            windowWidth : window.innerWidth,
            windowHeight: window.innerHeight,
        };
    },
    computed: {
        id() {
            return `tab-${this.label}`;
        },
        isActiveTab() {
            return this.$parent.activeTab === this.label;
        },
        buttonClasses() {
            return this.$parent.buttonClasses(this.label);
        },
        transitions() {
            return {
                enter  : 'fade-out',
                leave  : 'fade-visible',
            }
        },
        panelStyle() {
            return {
                height   : parseInt(this.windowHeight - this.tabButtonHeight() - 75) + 'px',
                overflowY: 'scroll',
            };
        },
    },
    methods: {
        setActiveTab() {
            this.$parent.setActiveTab(this.label);
        }
    },
}
</script>
<style lang="scss" scoped>
    .content {
        padding: 1rem 0.5rem;
    }
    .tab-label {
        padding-bottom: 0.25rem;
    }
    .tab-button {
        display: block;
        width: 100%;
    }
</style>
